/2016 Dana PGI.pdf
/2017 JREP.pdf
/Analyze_American_Muslim_Poll_Statistics.ipynb
/Dana 2017 TPG.pdf
/Dana et al veiled politics experiences discrimination American Muslims.pdf
/get hands on data
/ICPSR_38040-V1
/ispu
/ISPU American Muslim Poll 2016 Datafile.sav
/ISPU American Muslim Poll 2106 Instrument.pdf